/* You can add global styles to this file, and also import other style files */
.header {
  background-color: darkolivegreen;
}

.footer {
  background-color: cornflowerblue;
}

.sidebar {
  background-color: coral;
}
